     <div>
        <ul class="nav nav-pills" id="myTab" >
            <li role="presentation" class="active"><a href="#orderDetail"><%=setLanguagePackage('商品详情')%></a></li>

            <li role="presentation"><a href="#bidDetail"><%=setLanguagePackage('竞价说明')%></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="orderDetail">
                <div class="row">
                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('商品名称')%>:</label> <span><%=petrolType(data.petrolType)%></span>
                    </div>
                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('商品产地')%>:</label> <span><%=data.productArea %></span>
                    </div>
                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('竞买量')%>:</label> <span><%=data.totalQuantity %></span>
                    </div>
                </div>
                <%if(data.petrolType==1){%>
                <div class="row">
                    <div class="col-md-12">
                        <label ><%=setLanguagePackage('扣水量')%>:</label>
                        <span>
                         <%=data.buckleWaterRate%>
                         </span>
                    </div>
                </div>
                <%}%>
                <div class="row">
                    <div class="col-md-12">

                        <label ><%=setLanguagePackage('常规含量')%>:</label>
                        <span>
                         <%=data.normalContent%>
                         </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label ><%=setLanguagePackage('微量元素')%>:</label>
                        <span>
                            <%if(data.traceContent){%>
                             <%=data.traceContent%>
                            <%}else{%>
                            <%=setLanguagePackage('暂无')%>
                            <%}%>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label >质检报告:</label>
                       	<!-- 有则显示查看，无则显示无质检报告 -->
                        <%if(data.inspectionReport){%>
                        	<span class="review_report" id = "review_report">查看质检报告</span>
                        <%}else{%>
                        	<span class="review_report no_content">无质检报告</span>
                        <%}%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label ><%=setLanguagePackage('描述信息')%>:</label> <span>
                         <%if(data.description){%>
                             <%=data.description%>
                            <%}else{%>
                            <%=setLanguagePackage('暂无')%>
                            <%}%>
                    </span>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="bidDetail">
                <div class="row">
                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('招标类型')%>:</label> <span><%=tenderType(data.type) %></span>
                    </div>
                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('竞价单位')%>:</label> <span><%=setLanguagePackage('单价')%></span>
                    </div>
                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('起订量')%>:</label> <span><%=minBuyQuantity%><%=setLanguagePackage('吨')%></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('最低加价幅度')%>:</label> <span>5<%=setLanguagePackage('元/吨')%></span>
                    </div>
                    <div class="col-md-4">
                        <label ><%=setLanguagePackage('吨袋价格')%>:</label> <span>
                        <%if(data.bagPrice){%>
                         <%=(data.bagPrice)%><%=setLanguagePackage('元/吨')%>
                        <%}else{%>
                        <%=setLanguagePackage('不支持')%>
                        <%}%>
                    </span>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>

        </div>
    </div>


