.mod-certification .tip{
    text-align: center;
    margin: 20px 0;
}
.mod-certification .tip img{
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}
.mod-certification .tip p{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
