/*.hall-bg {*/
    /*background: url(../images/index/banner.jpg);*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*<!--背景效果-->*/
/* ---- reset ---- */

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/index/bid_back_blue.png);
    /*background-image: linear-gradient(to left, #62bcba 0%, #568ad5 100%);*/
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -webkit-transition:all 1s linear ;
    -o-transition: all 1s linear;
}

#particles-js.particles-bg {
    background-image: url(../images/index/bid_back_green.png);
}


/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}
/*<!--背景效果end-->*/

.count-number {
    position: absolute;
    right: -8px;
    font-size: 90px;
    /*top: -21px;*/
    top: 0;
    letter-spacing: 19px;
}

.trade-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%);
    left: 0;
    padding-top: 40px;
    /*background: rgba(250, 250, 250, .1);*/
    height: 200px;
}

.trade {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.trade h1 {
    font-size: 40px;
    line-height: 1.6;
}

.trade p {
    line-height: 1.5;
}

.trade a {
    text-decoration: underline;
    color: white;
}

.trade a:hover {
	text-decoration: underline;
    color: #5b8ed2;
}

.trade label {
    display: inline-block;
    width: 60px;
    height: 120px;
    line-height: 120px;
    font-size: 60px;
    text-align: center;
    border: 1px solid rgba(250, 250, 250, .3);
    margin: 0 4px;
}

/*菜单--tab*/
.mod-tab-bid {
    background-color: #ffffff;
    border-bottom: solid 1px #ececec;
    text-align: center;
    box-shadow: 5px 5px 8px rgba(214,214,214,.1);
}
.mod-tab-bidFixed{
    position: fixed;
    top: 160px;
    z-index: 5;
    width: 100%;
}
.mod-tab-bid ul {
   min-width: 1110px;
   height: 80px;
   margin: 0 auto;
   display: inline-block;
}

.mod-tab-bid ul li {
    float: left;
    min-width: 145px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    padding: 0 15px;
}
.mod-tab-bid ul li.type-focus{
    min-width: 105px;
}
.mod-tab-bid ul li.type-focus span{
    color: #5b8ed2;
}

.mod-tab-bid ul li span{
    font-size: 20px;
    color: #787878;
    letter-spacing: 1px;
}

.mod-tab-bid ul .other{
    /*width: 150px;*/
}

/*.mod-tab-bid ul li label {*/
/*display: inline-block;*/
/*width: 0;*/
/*height: 0;*/
/*border-width: 8px 6px 0 5px;*/
/*border-style: solid;*/
/*border-color: #656565 transparent;*/
/*margin-left: 20px;*/
/*margin-top: -2px;*/
/*vertical-align: middle;*/
/*}*/

.mod-tab-bid ul.clearfloat li i {
    display: inline-block;
    /*width: 16px;*/
    /*height: 16px;*/
    /*background-size: 16px 16px;*/
    vertical-align: text-top;
    margin-left: 8px;
}

.mod-tab-bid ul.clearfloat li .on {
    background: url(../images/bid/triangle02.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.mod-tab-bid ul.clearfloat li .off {
    background: url(../images/bid/triangle01.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.mod-tab-bid ul.clearfloat li span:hover {
    color: #5b8ed2;
}

/*.mod-tab-bid ul li:hover label {*/
/*border-color: #5b8ed2 transparent;*/
/*}*/

/*其他筛选部分*/
.show-other{
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
.show-other p{
    position: relative;
    width: 830px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #FFFFFF;
    color: #363636;
    font-size: 12px;
}

.show-other .close1{
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    right: 268px;
    top: 14px;
    background: url(../images/bid/close.png) no-repeat center;
    background-size: 100%;
    cursor: pointer;
}
/*houver菜单*/
.bid-hall .hover-menu {
    position: absolute;
    width: 1100px;
    top: 160px;
    margin-left: -550px;
    left: 50%;
    z-index: 99999;
}

.hover-menu .menu-item {
    position: absolute;
    width: 116px;
    text-align: center;
}

.hover-menu .type {
    left: 10px;
}

.hover-menu .type-tensity{

    left: 170px;
}
.hover-menu .type-ash {
    left: 170px;
}
.hover-menu .type-va {
    left: 360px;
}

.hover-menu .place {
    left: 515px;

}
.hover-menu .type-label{
    left: 662px;
}
.hover-menu .menu-item ul {
    padding: 10px 0;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -ms-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.hover-menu .menu-item ul li {
    /*height: 32px;*/
    line-height: 32px;
    color: #8d8d8d;
    cursor: pointer;
}

.hover-menu .menu-item ul li:hover {
    background-color: #ececec;
    color: #454545;
}

.hover-menu .menu-item ul li.active {
    background-color: #ececec;
    color: #454545;
}

.hover-menu .menu-item label {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 0px 10px 13px 10px;
    border-style: solid;
    border-color: #ffffff transparent;
    margin-bottom: -3px;
}

/*消息通知*/
.news-modular {
    width: 1110px;
    margin: 20px auto 0 auto;
    position: relative;
    height: 38px;
    overflow: hidden;
}

.news-modular ul {
    width: 830px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #ffffff;
    position: relative;
    height: 10000px;
    overflow: hidden;
}
.news-modular ul li{
    height: 38px;
    line-height: 38px;
    width: 830px;
    overflow: hidden;
}

.news-modular ul li .icon-news {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/bid/icon-news.png) center center /100% 100%;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 18px;
    line-height: 38px;
    float: left;
}

.news-modular ul li .news-close {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/bid/icon-close.png) center center /100% 100%;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.news-modular ul li .news-words {
    font-size: 14px;
    color: #363636;
    width: 700px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-left: 5px;
}

.news-modular ul li .news-words a{
    color: #5b8ed2;
}

/*招标列表*/
.mod-bid {
    width: 1110px;
    margin: 20px auto 0;
    position: relative;
}
.order-box .mod-bid {
    width: 830px;
}
.mod-bid-list {
    position: relative;
    float: left;
    width: 830px;
}

.mod-bid-list h1.title {
    margin-bottom: 10px;
    font-size: 15px;
    color: #787878;
    margin-left: 20px;
}

.mod-bid-list .item {
    position: relative;
    width: 830px;
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px rgba(214,214,214,.1);
}

.mod-bid-list .item .sign {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
}


.mod-bid-list .item .sign-bidding {
    background: url('../images/bid/bidding.png') no-repeat center center;
}

.mod-bid-list .item .sign-finished {
    background: url('../images/bid/finished.png') no-repeat center center;
}

.mod-bid-list .item .sign-cancle {
    background: url('../images/bid/cancle.png') no-repeat center center;
}
.mod-bid-list .item .en-sign-bidding {
    background: url('../images/bid/en-bid.png') no-repeat center center;
}

.mod-bid-list .item .en-sign-finished {
    background: url('../images/bid/en-over.png') no-repeat center center;
}

.mod-bid-list .item .en-sign-cancle {
    background: url('../images/bid/en-Cancelled.png') no-repeat center center;
}
.mod-bid-list .item:last-child {
    margin-bottom: 0;
}

.mod-bid-list .item .bid-cover {
    position: relative;
    float: left;
    width: 140px;
    height: 140px;
    margin: 20px 20px 0 20px;
    overflow: hidden;
    cursor: pointer;
}

.mod-bid-list .item .bid-cover img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mod-bid-list .item .bid-cover img.height{
    height: 100%;
    width: auto;
}
.mod-bid-list .item .bid-cover img.width{
    width: 100%;
    height: auto;
}

.mod-bid-list .item .detail {
    float: left;
    position: relative;
    width: 650px;
    padding: 20px 20px 0;
}

.mod-bid-list .item .detail .m-isMark {
    position: absolute;
    top: -43px;
    right: 6px;
    color: #5b8ed2;
}

.mod-bid-list .item .detail .title {
    font-size: 18px;
    padding-right: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.mod-bid-list .item .detail .title:hover {
    color: #5b8ed2;
}

.mod-bid-list .item .bid-label {
    position: absolute;
    top: 18px;
    right: 16px;
    padding: 4px 10px;
    /*color: #5b8ed2;*/
    font-size: 14px;
}

.mod-bid-list .item .con {
    position: relative;
    /*height: 100px;*/
    font-size: 14px;
    margin-top: 20px;
    color: #363636;
    border-bottom: 1px solid #f4f4f4;
}
.mod-bid-list .item .con label,.mod-bid-list .item .con-zh label {
    color: #fff;
    width: 70px;
    text-align: center;
    display: inline-block;
}
.mod-bid-list .item .con-en label {
    color: #fff;
    width: 140px;
    text-align: center;
    display: inline-block;
}


.mod-bid-list .item .con .success-amount label {
    color: #363636;
    text-align: left;
    min-width: 198px;
}
.mod-bid-list .item .con .en-amount label {
    color: #363636;
    text-align: left;
    min-width: 250px;
}

.mod-bid-list .item .con label.w-apply-1 {
    background-color: rgb(91, 142, 210);
    padding: 4px 10px;
    margin-right: 10px;
}

.mod-bid-list .item .con label.w-apply-2 {
    background-color: rgb(76, 176, 80);
    padding: 4px 10px;
    margin-right: 10px;
}

.mod-bid-list .item .con label em{
    letter-spacing: 14px;
}

.mod-bid-list .item .quality {
    float: left;
    width: 38%;
    line-height: 20px;
    padding-right: 10px;
    height: 100px;
}

.mod-bid-list .item .quality p {
    text-overflow: ellipsis;
    white-space: nowrap;
    /*overflow: hidden;*/
    margin-bottom: 10px;
}

.mod-bid-list .item .quality div {
    float: left;
    width: 50%;
}

.mod-bid-list .item .purchase {
    float: left;
    /*width: 40%;*/
    width:42%;
    line-height: 23px;
    text-align: left;
    /*padding-left: 6%;*/
    height: 100px;
}
.mod-bid-list .item .en-purchase {
    float: left;
    width: 40%;
    line-height: 23px;
    text-align: left;
    padding-left: 0;
   height: 100px;
}

.mod-bid-list .item .purchase .total{
    color: #9d9d9d;
    margin-bottom: 10px;
    margin-left: -7px;
}

.mod-bid-list .item .purchase .total span {
    font-size: 30px;
    color: #5b8ed2;
}

.mod-bid-list .item .con .func-btn {
     float: left;
     width: 20%;
     height: 100px;
     /*border-left: 1px solid #dedede;*/
 }

.mod-bid-list .item .con .bid-number {
    float: left;
    width: 20%;
    height: 100px;
    /*border-left: 1px solid #dedede;*/
    margin-top: -10px;
    margin-left: -6px;
}

.mod-bid-list .item .con .bid-number i{
    display: block;
    color: #5b8ed2;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 10px;
    text-align: right;
}

.mod-bid-list .item .con .bid-number span{
    display: block;
    color: #9d9d9d;
    text-align: right;
}
.mod-bid-list .item .con .bid-zh-btn{
    width: 80px;
    margin: -2px 0 0 38px;
}
.mod-bid-list .item .con .bid-en-btn{
    width: 100%;
}
.mod-bid-list .item .con .btn {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: 0;
}

.mod-bid-list .item .con .btn:hover {
    opacity: 0.8;
}

/*.mod-bid-list .item .con .btn.btn-tender {*/
    /*color: #5b8ed2;*/
    /*background-color: #ffffff;*/
    /*border: 1px solid #5b8ed2;*/
/*}*/

.mod-bid-list .item .con .btn.btn-take, .mod-bid-list .item .con .btn.btn-cancle,.mod-bid-list .item .con .btn.btn-sign {
    color: #ffffff;
    border: none;
}
.mod-bid-list .item .con .btn.btn-sign-2, .func-btn btn-offer-2, .mod-bid-list .item .con .btn.btn-cancle-2 {
    padding: 0 10px;
    float: right;
}
.mod-bid-list .item .con-bottom {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding: 0 20px;

}

.mod-bid-list .item .con-bottom .bid_count{
    opacity: 0;
}

.mod-bid-list .item .con-bottom .supplier {
    float: left;
    width: 28%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mod-bid-list .item .con-bottom .reputation {
    width: 20%;
    float: left;
}

.mod-bid-list .item .con-bottom .func-time {
    float: right;
    width: 377px;
    font-size: 12px;
}

.mod-bid-list .item .func-time .count {
    float: left;
}

.mod-bid-list .item .func-time .start {
    float: right;
    color: #8d8d8d;
    vertical-align: middle;
}

/*右侧条件*/
.bid-condition {
    width: 280px;
    margin-top: 30px;
    float: left;
    border-left: 24px solid  rgba(255,255,255,0);
    /*position:absolute;*/

}

.bid-condition .top, .bid-condition .bottom {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 8px rgba(214,214,214,.1);
}

.bid-condition .bid-condition-topFixed{
    position: fixed;
    top: 290px;
    z-index: 5;
}
.bid-condition .item {
    position: relative;
    margin-bottom: 24px;
}

.bid-condition .item p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #999;
}

.bid-condition .item.search div{
    position: relative;
}

.bid-condition .item.search div input {
    /*width: 178px;*/
    min-width: 194px;
    padding: 8px 35px;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #999;
    color: #9d9d9d;
    outline:none;
}

.bid-condition .item.search div i {
    background: url(../images/bid/icon-search.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 12px;
}


.bid-condition .item.search input:focus {
    border: 1px solid #5b8ed2;
}

.bid-condition .item.select ul {
    /*width: 178px;*/
    min-width: 194px;
    background-color: #ffffff;
    font-size: 14px;
}

.bid-condition .item.select li {
    height: 32px;
    line-height: 32px;
    color: #454545;
    padding-left: 16px;
    border: 1px solid #ececec;
    margin-bottom: 10px;
    cursor: pointer;
}

.bid-condition .item.select li:hover {
    border: 1px solid #5b8ed2;
    color: #5b8ed2;
}

.bid-condition .item.select li.active {
    border: 1px solid #5b8ed2;
    color: #5b8ed2;
}

.bid-condition .item.notice .more {
    position: absolute;
    right: 0;
    top: 2px;
    color: #9d9d9d;
    font-size: 14px;
}

.bid-condition .item.notice .tip {
    background-color: #ffffff;
    width: 178px;
    height: 200px;
    color: #8d8d8d;
}

.bid-condition .item.notice .tip ul li {
    padding: 14px 0;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.bid-condition .item.notice .tip ul li:hover {
    color: #5b8ed2;
}

.bid-condition .item.notice .tip ul li:last-child {
    border-bottom: 0;
}

/*竞价大厅--购买弹框*/
.bid-purchase {
    /*width: 800px;*/
    /*height: 540px;*/
}

.bid-purchase h1 {
    /* float: left; */
    /* width: 200px; */
    /* line-height: 20px; */
    /* padding-right: 20px; */
    /* margin-top: 30px; */
    color: #333;
    font-size: 20px;
}

/*.bid-purchase {*/
/*line-height: 40px;*/
/*}*/

.place-water {
    /* float: left; */
    /* width: 156px; */
    /* line-height: 26px; */
    margin: 10px 0 15px 0;
}

.place-water div {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
    color: #999;
}

.start-time {
    /* float: left; */
    /* width: 160px; */
    /* line-height: 25px; */
    font-size: 24px;
}

.start-time label{
    font-size: 14px;
    color: #999;
}

.a-amount {
    /* width: 145px; */
    /* float: left; */
    /* line-height: 26px; */
    color: #333;
}

.a-amount p {
    margin-top: 7px;
}

.bid-purchase .place {
    /* margin-right: 20px; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
}

.bid-purchase .bid-top {
    padding: 30px 0;
    border-bottom: 1px solid #ececec;
}

.bid-purchase label {
    margin-right: 15px;
}

.a-amount label {
    margin-right: 34px;
}

.bid-purchase .bid-top label {
    color: #999;
    font-size: 14px;
}

.bid-purchase .bid-bottom {
    padding-top: 30px;
}

.bid-purchase .bid-bottom label {
    width: 70px;
}

.bid-purchase .bid-bottom .odd {
    float: left;
    margin-right: 30px;
}

.bid-purchase .bid-bottom .even {
    float: left;
    width: 100%;
    margin-top: 18px;
}

.bid-purchase .buy-amount {
    width: 132px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ececec;
    text-align: center;
    padding: 4px 10px;
}

.bid-purchase .num_add_reduce {
    display: inline-block;
    vertical-align: middle;
}

.bid-purchase .reduce {
    float: left;
    width: 28px;
    height: 30px;
    background: url(../images/main/reduce.png) no-repeat center center /100% 100%;
    cursor: pointer;
}

.bid-purchase .num_inp {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
}

.bid-purchase .num_inp input {
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding: 4px 10px;
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.bid-purchase .add {
    float: left;
    width: 28px;
    height: 30px;
    background: url(../images/main/plus.png) no-repeat center center /100% 100%;
    cursor: pointer;
}

.bid-purchase .m-criticalPrice {
    display: inline-block;
    color: #9d9d9d;
    margin-left: 35px;
}

.bid-purchase .start-price {
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    color: #9d9d9d;
}
.bid-purchase .start-price span{
    color: red;
    font-weight: bold;
    margin: 0 6px;
    font-size: 14px;
}

.bid-purchase .bidding {
    /* position: absolute; */
    /* top: -42px; */
    /* right: 20px; */
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
}

.bid-purchase .left-time {
    position: absolute;
    right: 28px;
    top: 28px;
    text-align: right;
}

.bid-purchase .left-time i.clock{
    display: inline-block;
    width: 38px;
    height: 30px;
    background: url(../images/common/clock.png) no-repeat center center;
    vertical-align: sub;
    margin-right: -5px;
}

.bid-purchase .left-time .j-endtime {
    display: inline-block;
    width: 68px;
    height: 30px;
    color: #ff7522;
    vertical-align: super;
    margin-right: 10px;
}

.bid-purchase .left-time a.enter-bidding-rule {
    margin: 25px 0 0 0;
    font-size: 14px;
    color: #5b8ed2;
    display: block;
    text-decoration:underline;
}

.bid-purchase .line-company {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #999;
}

.total-amount {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: red;
    border: none;
    margin-right: 4px;
}

/*供应、采购tab*/
.bid-tabBox{
    background-color: #ffffff;
    /*margin-bottom: 20px;*/
}
.bid-tabBoxFixed{
    position: fixed;
    top: 70px;
    z-index: 5;
    width: 100%;
}

.bid-tabBox .bid-tabIn{
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}

ul.bid-tab{
    height: 85px;
    padding: 30px 0 0 0;
    text-align: center;
    display: inline-block;
}

ul.bid-tab li{
    float: left;
    cursor: pointer;
    min-width: 125px;
    font-size: 16px;
    text-align: center;
}

ul.bid-tab li:first-child{
    margin-right: 30px;
}

ul.bid-tab li span{
    display: block;
    font-size: 20px;
    margin-bottom: 26px;
}

ul.bid-tab li:first-child span:hover{
    color: #5b8ed2;
}

ul.bid-tab li:nth-child(2) span:hover{
    color: #4CB050;
}

.bid-current{
    color: #5b8ed2;
    background: url(../images/bid/dangqian.png) no-repeat center 0px;
    background-size: 100% 100%;
    display: block;
    width: 128px;
    height: 9px;
}

.bid-green{
    color: #5b8ed2;
    background: url(../images/bid/dangqian02.png) no-repeat center 0px;
    background-size: 100% 100%;
    display: block;
    width: 128px;
    height: 9px;
}

.btn-blue {
    background-color: #5b8ed2;
    border: 0;
    color: #fff;
}

.btn-green0 {
    background-color: #4CB050;
    border: 0;
    color: #fff;
}

.btn-green {
    background-color: #4CB050;
    border: 0;
    color: #fff;
    width: 128px;
}

/*中标吐司*/
.win-bid{
    background-color: #fff;
    height: 34px;
    line-height: 34px;
    width: 830px;
    padding: 0 19px 0 19px;
    margin-bottom: 20px;
}

.win-bid .laba{
    float: left;
    margin: 10px 5px 0 0;
}

.win-bid .close{
    float: right;
    cursor: pointer;
    margin-top: 10px;
}
.user_block_info{
    position: absolute;
    top:93px;
    right: 425px;
    width: 100px;
    height: 100px;
    background: url(../images/main/user_block.png) no-repeat center/100%;
}
.mod-body .basic .item h1{
    font-weight:bold;
}
.mod-body .basic .item h1.user_name{
    border-bottom: 1px solid #ececec;
}
.client_manager_area{
    float: right;
    width: 830px;
}
.client_manager{
    padding: 20px 30px;
    margin-top:20px;
    background: #fff;
}
.client_img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.client_img img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    border: 1px solid #ececec;
}
.client_name {
    color: #999;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}
.client_describe{
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
}
.client_tel,.client_qq {
    margin-right: 30px;
    font-size: 14px;
}
.client_detail{
    margin-top:15px;
}
.client_tel .tel_black{
    background: url(../images/main/clientManager_phone.png) no-repeat center/100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.client_qq .qq_black{
    background: url(../images/main/clientManager_qq.png) no-repeat center/100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.client_wechat .chat_black{
    background: url(../images/main/clientManager_wechat.png) no-repeat center/100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.client_wechat .chat_black:hover{
    background: url(../images/main/clientManager_wechat_hover.png) no-repeat center/100%;
}
.client_wechat .chat_black:hover .dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}
.client_wechat .chat_black .dropdown{
    position: absolute;
    top: 40px;
    left: -60px;
    visibility: hidden;
    border: 1px solid #DDD;
    background: #FFF;
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    width: 140px;
    height: 140px;
}
.client_wechat .chat_black .dropdown img{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.client_wechat .chat_black{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.manager-bidding-detail{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 20px;
    background: #5b8ed2;
    width: 100%;
    color: #fff;
    position: relative;
}
.manager-bidding-detail span{
    position: absolute;
    left: 0;
    padding: 0 20px;
}
.mod-bid-list .item .func-time .again{
  margin-left: 6px;
    color: #5b8ed2;
    cursor: pointer;
}
.mod-footer{
    position: absolute;
    width: 100%;
    /*z-index: 999;*/
}
/**关注弹框**/
.followTip{
    font-size: 14px;
    color: #999999;
    padding: 15px 20px;
}
.thItem{

}
.thTltle{
    width: 80px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}
.thChildItem{
    padding-top: 5px;
    padding-left: 80px;
}
.thChildTitle{
    padding: 0 0 10px;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}
.modleList li{
    float: left;
    width: 120px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #999999;
    color: #999999;
    cursor: pointer;
    font-size: 12px;
}

.modleList li.active{
    border: 1px solid #5b8ed2;
    color: #ffffff;
    background: #5b8ed2;
}
