.contactUs{
    background-color: #fff;
}

.contactUs h1.title{
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 40px;
    border-bottom: solid 1px #ececec;
}

.contactUs .con{
    padding: 20px 40px;
}

.con ul{
    float: left;
    width: 70%;
    font-size: 14px;
}

.con ul li{
    line-height: 34px;
}

.con .code{
    float: left;
    text-align: center;
}

