.order_message .order_title span{
    margin-right: 15px;
    cursor: pointer;
}
.order_message .order_title span.active{
    padding-bottom: 18px;
    border-bottom: 4px solid #5b8ed2;
    color: #5b8ed2;
}
.order_message .order_title1 span.active{
    padding-bottom: 18px;
    border-bottom: 4px solid #5b8ed2;
    color: #5b8ed2;
}
.order_message .del_down_btn{
    display: inline-block;
    position: relative;
    left: 62%;
    font-size: 14px;
}
.gain_download_order{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border: 1px solid #5b8ed2;
    text-align: center;
    background-color: #5b8ed2;
    margin-left:3px;
}
.order_message .single_btn{
    left: 62%;
}
.order_message .del_down_btn .del_order{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #f52424;
    border: 1px solid #f52424;
    text-align: center;
    margin-right: 14px;
}
.order_message .del_down_btn .download_order{
    display: inline-block;
    width: 85px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border: 1px solid #5b8ed2;
    text-align: center;
    background-color: #5b8ed2;
}
.order_detail .order_quantity_detail .order_status{
    position: relative;
    top: 34px;
    left: 57%;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    color: #363636;
}
/*
**弹出框
 */
.deliveryListDel{
    width: 500px;
    height: 300px;
}
.deliveryListDel .bid-com{
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
    color: #363636;
}
/*
**弹出框结束
 */
.apply_content ul li label{
    width: 120px;
}
.take_goods_tips{
    padding-left: 15px;
}
/*
**确认收货 驳回按钮区域
 */
.buyer_gain_btn{
    margin-top: 10px;
    border-top: 1px solid #efefef;
    padding-top: 10px;
}
.buyer_gain_btn .item{
    display: inline-block;
    width: 85px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #5b8ed2;
    text-align: center;
}
.buyer_gain_btn .gain_submit{
    color: #fff;
    background-color: #5b8ed2;
    margin-right: 15px;
}
.buyer_gain_btn .gain_cancel{
    color: #5b8ed2;
    background-color: #fff;
}
/*
**end确认收货 驳回按钮区域
 */
/*
**驳回弹出框
 */
.reject_area .reject_reason{
    font-size: 14px;
    margin-top: 40px;
    margin-left: 20px;
    line-height: 30px;
    height: 30px;
}
.reject_area .reject_reason select{
    width: 400px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #efefef;
}
.reject_area .reject_tips_title{
    margin-top: 30px;
    margin-left: 20px;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
}
.reject_area textarea{
    height: 200px;
    padding: 10px;
    border: 1px solid #ececec;
    resize: none;
    width: 750px;
    margin-left: 20px;
    margin-top: 15px;
    background-color: rgba(242, 242, 242, 1);
}
/*
**end驳回弹出框
 */
.order_reject{
    margin: 20px 0;
    padding: 20px 33px;
    background-color: #fff;
    font-size: 14px;
    line-height: 30px;
}
.order_reject ul li label{
    display: inline-block;
    width: 110px;
}
.order_reject .reject_status{
    color: #5b8ed2;
}
.order_reject .re_gain_goods{
    margin-top: 15px;
    border-top: 1px solid #efefef;
    padding-top: 15px;
}
.order_reject .re_gain_goods .re_gain_btn{
    display: inline-block;
    width: 85px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border: 1px solid #5b8ed2;
    text-align: center;
    background-color: #5b8ed2;
}
.order_message .supplier_single_btn{
    left: 73%;
    margin-left: 3px;
}
