.email_registration{
    padding: 20px 30px;
    font-size: 16px;
    background: #fff;
    min-height: 500px;
}
.email_registration .title{
    padding: 0 0 20px 0;
    border-bottom: 1px solid #efefef;
    text-align: center;
    margin-bottom: 30px;
}
.email_registration p{
    line-height: 20px;
}
.email_registration p.after_line{
    margin-bottom: 30px;
}
