.errorBox{
   text-align: center;
}

.errorBox .img_error{
    margin: 80px 0 40px 0;
}

.errorBox .font_zh {
    font-size: 30px;
    color: #363636;
}

.errorBox .font_En {
    font-size: 16px;
    color: #9d9d9d;
}

.errorBox .btn-error {
    width: 180px;
    height: 38px;
    line-height: 38px;
    margin: 30px 0px 10px 0;
    font-size: 14px;
    color: #ffffff;
    background-color: #5b8ed2;
    display: inline-block;
}

.errorBox .btn-refresh {
    color: #5b8ed2;
}
