body{
    background-color: #f5f5f5;
}
.goods_convert{
    width: 1080px;
    margin: 90px auto 0 auto;
}
.goods_convert .title {
    background: #fff;
    margin: 20px 0;
    padding: 20px 30px;
    font-size: 16px;
}
.goods_convert .title a{
    color: #454545;
}
.goods_convert .title a:hover{
    text-decoration: none;
    color: #5b8ed2;
}
.goods_convert .convert_content{
    background: #fff;
    margin: 20px 0;
    padding: 20px 30px;
}
.goods_convert .convert_content .convert_tips{
    color: #999;
    border-top: 1px solid #ececec;
    padding-top: 20px;
}
.convert_content .convert_detail {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ececec;
}

.convert_content .convert_detail li {
    margin-bottom: 10px;
}

.convert_content .convert_detail li label {
    float: left;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 8px;
    color: #333;
}

.convert_content .convert_detail li > div {
    position: relative;
    float: left;
}

.mod-certification.show .item .convert_detail li > div {
    position: relative;
    float: left;
    line-height: 30px;
}
.convert_content input {
    width: 250px;
    padding: 4px 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ececec;
    vertical-align: middle;
}
.convert_content #city  select{
    width: 250px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ececec;
    border-radius: unset;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right:34px;
    padding-left: 10px;
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:none;
    background: url("../images/main/select_triangle.png") no-repeat scroll 230px center transparent;
}
.convert_content #city select::-ms-expand{
    background: #0054a7;
    display: none;
}
.convert_content input.addr_detail{
    width: 305px;
}
.convert_content #city  select[disabled="disabled"]{
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right:34px;
    padding-left: 10px;
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:none;
    background: url("../images/main/select_triangle_gray.png") no-repeat scroll 230px center transparent;
}
.convert_submit{
    padding-top: 20px;
}
.convert_submit .item{
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
}
.convert_submit  .item.okey{
    background-color: #5b8ed2;
    color: #ffffff;
}
.convert_submit .item.cancel{
    background-color: #ffffff;
    border: 1px solid #5b8ed2;
    color: #5b8ed2;
}
.error{
    color: #FF0000 !important;
}
.red{
    border-color: #FF0000 !important;
}
