.help-center {
    background-color: #fff;
}

.help-center h1.title {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 40px;
    border-bottom: solid 1px #ececec;
}

.help-center .con {
    padding: 20px 40px 60px 40px;
    font-size: 14px;
    line-height: 3;
    color: #000;
}

.help-center .con img {
    display: block;
    margin: 15px auto 20px;
}

.help-center .con p {
    text-indent: 25px;
}

.con img {
    width: 80%;
}
.annex{
    margin-top: 30px;
    line-height: 2.1;
}
.annex a {
    display: block;
    color: #000;
    padding-left: 26px;
    background: url('../images/help/annex.png') no-repeat left center/ 20px auto;
}
.annex a:hover{
    color: #5b8ed2;
}
