body{
    background-color: #f5f5f5;
}
.goods_rule{
    width: 1080px;
    margin: 90px auto 0 auto;
}
.goods_rule .rule_title{
    border-bottom: 1px solid #ececec;
}
.goods_rule .title {
    background: #fff;
    margin: 20px 0;
    padding: 20px 30px;
    font-size: 16px;
}
.goods_rule .title a{
    color: #454545;
}

.goods_rule .title a:hover{
    text-decoration: none;
    color: #5b8ed2;
}
.goods_rule .rule_content{
    background: #fff;
    margin: 20px 0;
    padding: 20px 30px;
}
.goods_rule ul li label{
    float: left;
}
.goods_rule p{
    color: #999;
}
.tips{
    padding: 20px 0;
}
.goods_rule ul li div{
    margin-left: 20px;
}
.goods_rule .detail p a{
    color: #5b8ed2;
    text-decoration: underline;
}
