/*登录密码*/
.setup-passwd-tip, .setup-passwd {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.setup-passwd-tip h3, .setup-passwd h3 {
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

.setup-passwd-tip p {
    color: #8d8d8d;
    margin-top: 20px;
}

.setup-passwd p {
    color: #8d8d8d;
    margin: 10px 0;
}

.setup-passwd .setup-box {
    font-size: 14px;
    margin-left: 100px;
    padding: 10px 0;
}

.setup-passwd .setup-box li {
    position: relative;
    margin: 20px 0;
}

.setup-passwd .setup-box li .mobile, .setup-passwd .setup-box li input,.setup-passwd .setup-box li .show-mobile {
    color: #8d8d8d;
}

.setup-passwd .setup-box li .error {
    color: #f52424;
}

.setup-passwd .setup-box li input.red {
    border: 1px solid #f52424;
}

.setup-passwd .setup-box li label {
    display: inline-block;
    width: 118px;
    text-align: right;
    padding-right: 20px;
}

.setup-passwd .setup-box li input {
    width: 260px;
    border: 1px solid #dedede;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}

.setup-passwd .setup-box li input:focus {
    border: 1px solid #5b8ed2;
}

.setup-passwd .setup-box li .send {
    position: absolute;
    right: 328px;
    top: 8px;
    width: 80px;
    height: 24px;
    background-color: #5b8ed2;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
}

button:hover {
    opacity: 0.8;
}

.set-passwd-btn {
    margin-left: 210px;
    width: 260px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.reset-passwd-btn {
    margin-left: 136px;
    width: 162px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #5b8ed2;
}

.forget-passwd-btn{
    width: 162px;
    line-height: 60px;
    margin-left: 136px;
    font-size: 14px;
    color: #5b8ed2;
    cursor: pointer;
    text-align: center;
}
.forget-passwd-btn a{
    color: #5b8ed2;
}
