a {
    color: #454545;
}
.order-detail a{
    color: #454545;
}
a:active {
    color: #454545;
}

.order-detail {
    width: 1080px;
    margin: 90px auto 0 auto;
}

.order-detail .title,
.order-detail .block-progress,
.order-detail .block-message,
.order-detail .block-detail,
.order-detail .block-agreement {
    background-color: #fff;
    margin-bottom: 20px;
}

.order-detail .title {
    margin: 20px 0;
    padding: 20px 33px;
    font-size: 16px;
}

/*订单进度*/
.order-detail .block-progress {
    padding: 30px 30px 30px 33px;
}

.block-progress .progress-l {
    float: left;
    font-size: 14px;
    text-align: center;
    width: 260px;
    padding-right: 30px;
}

.progress-l > h3,
.progress-l > p {
    margin-bottom: 10px;
}

.progress-l .order-status {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.progress-l .status-evaluate {
    margin-top: -19px;
    color: #9d9d9d;
}

.progress-l .clock {
    color: #9d9d9d;
}
.progress-l button#settlement{
    padding: 6px 30px;
}
.progress-l button {
    display: block;
    border: 0;
    color: #fff;
    padding: 0px 10px;
    min-width: 78px;
    height: 30px;
    text-align: center;
    font-size: 14px ;
    margin: 0 auto;
    background-color: #5b8ed2;
}

.progress-l button:hover {
    opacity: .8;
}

.progress-l .func-a a {
    display: inline-block;
    color: #5b8ed2;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
}

.progress-l .func-a .gray {
    display: inline-block;
    color: #a09f9e;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
}

.progress-r {
    width: 750px;
    float: left;
    padding: 20px 0 20px 50px;
    border-left: 1px solid #ececec;
}

.progress-r .text label {
    display: inline-block;
    width: 19%;
    text-align: center;
}

.progress-r .time label {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0 17px;
}

.progress-r .line {
    margin: 10px 0 10px 58px;
}

.progress-r .line span {
    float: left;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    vertical-align: middle;
}

.progress-r .line span.active {
    background-color: #5b8ed2;
}

.progress-r .line span.cancle {
    background-color: #363636;
}

.progress-r .line span.no-active {
    background-color: #dedede;
}

.progress-r .line span.current {
    background-color: #ffffff;
    border: 2px solid #5b8ed2;
}

.progress-r .line i {
    float: left;
    display: inline-block;
    width: 123px;
    height: 2px;
    background-color: #5b8ed2;
    vertical-align: middle;
    margin-top: 6px;
}

.progress-r .line i.active {
    background-color: #5b8ed2;
}

.progress-r .line i.cancle {
    background-color: #363636;
}

.progress-r .line i.no-active {
    background-color: #dedede;
}

/*查询提货记录*/
.order-detail .delivery-list {
    margin-bottom: 20px;
    background-color: #fff;

}

.order-detail .delivery-list .delivery-table {
    padding: 0px 30px 30px 30px;
}

.order-detail .delivery-list .delivery-table::-webkit-scrollbar {
    width: 10px;
    background-color: #E4E4E4;
}

.order-detail .delivery-list .delivery-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #C9C9C9;
}

.order-detail .delivery-list .delivery-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #E4E4E4;
}

.order-detail .delivery-list table th,.order-detail .delivery-list table tr {
    height: 50px;
}

.order-detail .delivery-list table th,.order-detail .delivery-list table td {
    width: 14%;
}
.order-detail .delivery-list table th:last-child,.order-detail .delivery-list table td:last-child{
  width: 33%;
}

.order-detail .delivery-list table td .btn-details,.order-detail .delivery-list table td .btn-del {
    display: inline-block;
    width: 78px;
    height: 34px;
    line-height: 34px;
    color: #5b8ed2;
    border: 1px solid #5b8ed2;
    border-radius: 3px;
}

.order-detail .delivery-list table td .btn-check{
    display: inline-block;
    width: 78px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background-color: #5b8ed2;
    border-radius: 3px;
}

/*验收提货单*/
.deliveryListCheck {
    width: 700px;
    height: 600px;
}
.deliveryListCheck .bid-com{
    padding: 20px;
    position: relative;
}

.deliveryListCheck .bid-com h1{
    color: #363636;
    font-size: 14px;
    position: absolute;
    right: 25px;
    top: 60px;
}

.deliveryListCheck .bid-com h3{
    color: #9d9d9d;
    font-size: 14px;
}

.deliveryListCheck .bid-com h2{
    color: #9d9d9d;
    font-size: 14px;
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
    margin-top: 10px;
}
.deliveryListCheck div.quantity{
    color: #363636;
    margin: 15px 0;
}
.deliveryListCheck div.quantity span{
   font-size: 30px;
}
.deliveryListCheck div.quantity em{
    color: #9d9d9d;
    font-size: 14px;
}
.deliveryListCheck .bid-com .clearfloat{

}
.deliveryListCheck .bid-com .clearfloat p{
   margin-bottom: 15px;
   font-size: 14px;
}
/*//删除提货单*/

.deliveryListDel{
    width: 500px;
    height: 300px;
}

.deliveryListDel .bid-com{
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
    color: #363636;
}
/*//删除提货单*/

.deliveryListDel{

}

.deliveryListDel .bid-com{

}
    /*提货、中标、付款信息*/
.order-detail .block-message {
    position: relative;
    padding: 20px 30px 30px 30px;
    margin-top: 20px;
}

.order-detail .block-message .get-record {
    position: absolute;
    font-size: 15px;
    top: 28px;
    right: 32px;
    color: #5b8ed2;
}

ul.block-message li {
    float: left;
    width: 328px;
    min-height: 163px;
    border-left: solid 1px #ececec;
    padding-left: 30px;
}

ul.block-message li:first-child {
    border-left: 0;
    padding-left: 0;
}

ul.block-message li h3 {
    font-size: 16px;
    margin-bottom: 26px;
}

ul.block-message li h3 .edit {
    font-size: 14px;
    color: #5b8ed2;
    margin-left: 55px;
    cursor: pointer;
}

ul.block-message li p {
    font-size: 14px;
    margin-bottom: 10px;
}

ul.block-message li p label {
    width: 84px;
    display: inline-block;
    margin-right: 30px;
}

.delivery-info p label {
    float: left;
}

.delivery-info p span {
    float: left;
    width: 190px;

}

/*弹框---延迟提货时间*/
.popup.delay-time {
    height: 400px;
    width: 700px;
    font-size: 16px;
}

.delay-time .delay-timeBox {
    text-align: center;
    margin-top: 108px;
}

.delay-time .delay-timeBox > p {
    color: #9d9d9d;
    margin: 5%;
}

.delay-time .delay-timeBox .day input {
    text-align: center;
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid #ececec;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

/*弹框---中标成功*/
.popup.bid-notice {
    height: 300px;
}

.bid-notice .popup_cont {
    margin: 5% 0;
    text-align: center;
}

.bid-notice .popup_cont > p:first-child {
    font-size: 20px;
}

.bid-notice .popup_cont > p:nth-child(2) {
    font-size: 14px;
    margin: 15px 0;
}

.bid-notice .popup_cont > p:nth-child(2) em {
    color: #5b8ed2;
}

.bid-notice .popup_cont a {
    color: #5b8ed2;
}

.bid-notice .popup_cont a:hover {
    text-decoration: inherit;
}

/*订单信息*/
.block-detail > p {
    font-size: 16px;
    padding-bottom: 14px;
    border-bottom: solid 1px #ececec;
}

.block-detail > div {
    /*margin-top: 18px;*/
    font-size: 14px;
}

.block-detail > div > img,
.block-detail > div.trade_people_mess > div {
    float: left;
    margin-right: 32px;
}
.block-detail > div .goods-img {
    position: relative;
    width: 139px;
    height: 139px;
    overflow: hidden;
}

.block-detail > div .goods-img img.height {
    height: 100%;
    width: auto;
}

.block-detail > div .goods-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block-detail > div .goods-img img.width {
    width: 100%;
    height: auto;
}

.block-detail > div > p {
    width: 300px;
    line-height: 40px;
}

.block-detail > div > p h3 {
    font-size: 16px;
    margin-bottom: 26px;
}

.block-detail > div > p > p {
    margin-bottom: 5px;
    color: #9d9d9d;
}

.block-detail > div p em {
    color: #5b8ed2;
    font-size: 28px;
    font-weight: 600;
}

/*双方协议*/
.order-detail .block-agreement {
    padding: 30px 30px 30px 33px;
    margin-bottom: 0;
    font-size: 16px;
}

.block-agreement > span {
    margin-right: 30px;
}

/*提醒买家付款或者验收*/
.order-tips{
    width: 500px;
    height: 300px;
}

.order-tips .m-tips{
    margin-top: 70px;
    text-align: center;
    font-size: 18px;
    color: #363636;
}


/*提货进度*/
.goods-progress .m-progress{
    background-color: #fff;
    padding: 0px 30px 30px 30px;
}

.goods-progress .m-div {
    color: #9d9d9d;
    font-size: 16px;
    height: 20px;
    padding: 25px 0;
}

.goods-progress .progress {
    width: 100%;
    height: 8px;
    background-color: #ececec;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 18px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.goods-progress .progress span.s-progress {
    height: 100%;
    display: inline-block;
    color: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.goods-progress .progress .finished {
    background-color: #5b8ed2;
    z-index: 100;
}
.goods-progress .progress .delivery {
    background-color: #89B2D3;
}

.goods-progress .progress .progress_details {
    /*width: 400px;*/
    width: 240px;
    /*height: 180px;*/
    height: 150px;
    border: 1px solid #f5f5f5;
    /*padding: 26px 34px;*/
    padding: 18px 56px;
    position: absolute;
    /*bottom: 13px;*/
    bottom: 8px;
    /*left: 293px;*/
    left: 320px;
    background-color: #fff;
    z-index: 101;
    display: none;
}
.goods-progress .progress .progress_details h1 {
    font-size: 20px;
    color: #568AD5;
}
.goods-progress .progress .progress_details ul{

}
.goods-progress .progress .progress_details ul li {
    display: inline-block;width: 160px;vertical-align: top;
}
.goods-progress .progress .progress_details ul li span{
    margin-top: 16px;
    font-size: 13px;
    color: #666;
    width: 100%;
    display: block;
}
.goods-progress .progress .progress_details ul li span i {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 10px;
}
.goods-progress .progress .progress_details ul li span i.hasBlue {
    background-color: #5b8ed2;
}
.goods-progress .progress .progress_details ul li span i.blue {
    background-color: #89B2D3;
}
.goods-progress .progress .progress_details ul li span i.none {
    border: 1px solid #5b8ed2;
}

/*订单信息*/
.order-detail .block-detail {
    padding: 20px 30px 30px 30px;
}

.order-detail .block-detail table {
    width: 1018px;
    /*border: 1px solid;*/
}

.order-detail .block-detail table thead tr {
    text-align: center;
    background-color: #efefef;
    height: 40px;
}

.order-detail .block-detail table tr td{
    text-align: center;
    padding: 10px 10px 0 10px;
    /* border: 1px solid; */
    vertical-align: top;
}

.order-detail .block-detail table tr td:first-child{
    text-align: left;
    position: relative;
}

.order-detail .block-detail table tr th{
    font-weight: bold;
}

.block-detail > p {
    font-size: 16px;
    padding-bottom: 14px;
    border-bottom: solid 1px #ececec;
}

.block-detail > div > img,
.block-detail > div > div {
    float: left;
    margin-right: 32px;
}

/*.block-detail > div > p {*/
    /*padding-top: 58px;*/
/*}*/

.block-detail > div .goods-img {
    position: relative;
    width: 139px;
    height: 139px;
    overflow: hidden;
    display: inline-block;
}

.block-detail > div .goods-img img.height {
    height: 100%;
    width: auto;
}

.block-detail > div .goods-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block-detail > div .goods-img img.width {
    width: 100%;
    height: auto;
}

.block-detail > div h3 {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    width: 200px;
    line-height: 25px;
}
.block-detail > div > div {
    width: 600px;
}
.block-detail > div > div h3 {
    font-size: 16px;
    margin-bottom: 26px;
}
.block-detail > div > div p {
    margin-bottom: 10px;
    color: #9d9d9d;
}
.block-detail > div p em {
    color: #5b8ed2;
    font-size: 28px;
    font-weight: 600;
}
.w-supplier-box {
    position: absolute;
    display: inline-block;
    left: 176px;
    bottom: 35px;
    width: 500px;
}
.w-supplier{
    margin-right: 15px;
 }

.w-supplier p i {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 12px;
    font-style: normal;
}
.w-supplier-box .contact{
    font-size: 12px;
    margin-top: -7px;
    margin-left: 35px;
}
.block-detail table tr td span.enter_details {
    display: inline-block;
    width: 78px;
    height: 34px;
    line-height: 34px;
    color: #5b8ed2;
    border: 1px solid #5b8ed2;
    border-radius: 3px;
    cursor: pointer;
}
.order-detail a.enter_agreement{
    display: inline-block;
    width: 78px;
    height: 34px;
    line-height: 34px;
    color: #5b8ed2;
    border: 1px solid #5b8ed2;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
}
    /*灰色下划线*/
.border_bottom{
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 40px;
}
.progress-l .btn-check{
    width: 100px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    color: #000;
    font-size: 12px;
    text-align: center;
}
/*
*订单详情优化
 */
.current_quantity{
    font-size: 20px;
    color: #5b8ed2;
}
.wait_quantity{
    color: #f52424;
}
.buyer_area{
    float: left;
    width: 48%;
    margin-right: 40px;
    border-right:solid 1px #ececec;
}
.block-message h1{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}
.block-message li{
    font-size: 14px;
    line-height: 30px;
}
.block-message li label{
    display: inline-block;
    width: 100px;
}
.block_invoice{
    position: relative;
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}
.block_invoice .invoice_detail{
    color: #5b8ed2;
    cursor: pointer;

}
.block_invoice .invoice_title{
    display: inline-block;
    margin-right: 50px;
}
/*
*发票弹出框
 */
.invoice_dialog{
    padding: 30px;
}
.invoice_dialog p.invoice_tip{
    font-size: 14px;
    margin-bottom: 10px;
}
.invoice_dialog h1{
    font-size: 18px;
    line-height: 30px;
    padding: 10px 0;
}
.invoice_dialog ul{
    margin-left: 10px;
}
.invoice_dialog li{
    font-size: 14px;
    line-height: 30px;
}
.invoice_dialog .asterisk{
    color: #f52424;
}
.invoice_dialog label{
    display: inline-block;
    width: 90px;
}
.block-detail .trade_detail{
    border:1px solid #efefef;
}
.block-detail > div > div.trade_people_mess{
    width: 95%;
    border-top: 1px solid #efefef;
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
}
.w-supplier p tt{
    font-size: 14px;
}
.trade_money_area{
    padding-left: 70%;
    border-sizing:border-box;
    margin-top: 15px;
    line-height: 30px;
}
.trade_money_area .trade_money_detail{
    width: 165px;
    display: inline-block;
}
.trade_money_area .have_trade{
    font-size: 18px;
}
.trade_grey{
    color: #999;
}
.trade_money_area .have_trade_money{
    color: #FD0018;
    font-size: 18px;
}
.trade_money_area div:first-child{
    margin-bottom: 10px;
}
.block-detail .trade_money_area{
    width: auto;
}
