.privacyBox{
    background-color: #fff;
}
.privacyBox h1.title{
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 40px;
    border-bottom: solid 1px #ececec;
}
.privacyBox .con{
    padding: 20px 40px 60px 40px;
    font-size: 14px;
    line-height: 2;
}

.privacyBox .con p{
    text-indent: 25px;
}

h2.bidding{
    font-weight: bold;
    font-size: 18px;
}

.bid-rule-list li label{
    float: left;
}
.bid-rule-list li div{
    margin-left: 20px;
}
 .bid-rule-list{
     margin-left: 25px;
 }
.bid-rule-list.con p{
    text-indent:0;
}
