.mod-publish {
    width: 1080px;
    margin: 90px auto 20px auto;
    padding: 30px 20px;
    background-color: #ffffff;
}

.mod-publish h1 {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;

}

.mod-publish .tip {
    padding: 30px;
    color: #9d9d9d;
    line-height: 20px;
}

.mod-publish .item {
    padding: 30px 0;
    border-top: 1px solid #ececec;
}

.mod-publish .item i {
    color: #f52424;
    font-style: normal;
}

/*模块一*/
.mod-publish .fr-item .detail {
    /*width: 730px;*/
    margin: 0 auto;
}

.mod-publish .fr-item .detail li {
    margin-bottom: 10px;
}

.mod-publish .fr-item .detail li label {
    float: left;
    width:230px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
}

.mod-publish .fr-item .detail li > div {
    float: left;
    width: 575px;
}

.mod-publish .fr-item .detail li:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.mod-publish .fr-item .detail li {
    zoom: 1;
}

.mod-publish .fr-item select, .mod-publish .fr-item input {
    width: 250px;
    padding: 4px 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ececec;
    margin-right: 10px;
}

.mod-publish .fr-item input.red, .mod-publish .fr-item select.red {
    border: 1px solid #f00;
}

.mod-publish .fr-item .error {
    color: #f52424;
    margin-left: 25px;
}

.mod-publish .fr-item input:focus {
    border: 1px solid #5b8ed2;
}

.mod-publish .fr-item textarea:focus {
    border: 1px solid #5b8ed2;
}

.mod-publish .fr-item textarea {
    width: 450px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ececec;
    resize: none;
    word-break: break-all;
    word-wrap: break-word;
}

/*模块二*/
.mod-publish .se-item {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 0px;
}

.mod-publish .se-item p {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
}

.mod-publish .se-item .detail ul:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.mod-publish .se-item .detail ul {
    zoom: 1;
    margin-left: 50px;
}

.mod-publish .se-item .detail li {
    position: relative;
    float: left;
    margin-bottom: 32px;
    margin-right: 40px;
}

.mod-publish .se-item .detail label, .mod-publish .th-item .detail label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    font-size: 14px;
}

.mod-publish .se-item .detail input, .mod-publish .th-item .detail input {
    width: 80px;
    border: 1px solid #ececec;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.mod-publish .se-item .detail .error {
    position: absolute;
    width: 100%;
    line-height: 14px;
    height: 14px;
    right: -27px;
    bottom: -22px;
    color: #f52424;
}

.mod-publish .th-item .detail .error {
    /* position: absolute; */
    width: 200px;
    line-height: 14px;
    height: 14px;
    left: 170px;
    bottom: 12px;
    color: #f52424;
}

.mod-publish .se-item .detail input.red, .mod-publish .th-item .detail input.red {
    border: 1px solid #f52424;
}

.mod-publish .se-item .detail input:focus, .mod-publish .th-item .detail input:focus {
    border: 1px solid #5b8ed2;
}

.mod-publish .se-item .detail span, .mod-publish .th-item .detail span {
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

/*质检报告模块*/
.mod-publish .report-item{
    width: 800px;
    margin: 0 auto;
    border-top:none;
    padding-top: 0px;
}
.mod-publish .report-item .detail > p{
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
}
.mod-publish .report-item .detail .report{
    float: left;
    position: relative;
    width: 360px;
}
.mod-publish .report-item .detail .report #filePicker{
    height: 40px;
    width: 130px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.mod-publish .report-item .detail .report input{
    opacity: 0;
}
.mod-publish .report-item .detail .report .report_text{
    color: #5B8ED2;
    font-size:14px ;
    display: inline-block;
    padding-top: 6px;
    padding-left: 118px;
}
.mod-publish .report-item .detail .tips{
    float: left;
    padding-left: 40px;
    text-align: left;
    color: #777;
}

/*模块三*/
.mod-publish .th-item {
    width: 800px;
    margin: 0 auto;
}

.mod-publish .th-item .detail > div {
    zoom: 1;
}

.mod-publish .th-item .water {
    /*margin-left: 51px;*/
}

.mod-publish .th-item .detail > div {
    position: relative;
    margin-bottom: 10px;
}

/*模块四*/
.mod-publish .fo-item {
    width: 800px;
    margin: 0 auto;
}

.mod-publish .fo-item .detail label {
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    padding-right: 18px;
    text-align: right;
    font-size: 14px;
}

.mod-publish .fo-item .detail > div {
    position: relative;
    float: left;
    width: 600px;
}

.img-tip {
    line-height: 40px;
}

.upload {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: #5b8ed2;
    border: 0;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    margin: 0 0 20px;
}

.png-box {
    margin: 20px 0;
}

.png-box .img-wrap {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 17px 20px 0;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ececec;
    -moz-box-shadow: 0 0 10px #ececec;
    -ms-box-shadow: 0 0 10px #ececec;
    box-shadow: 0 0 10px #ececec;
}

.png-box .img-wrap .checked {
    position: absolute;
    font-size: 16px;
    bottom: -19px;
    right: 21px;
    display: block;
    /*background: url(../images/main/radio-checked.png) no-repeat left center;*/
}

.png-box img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.png-box img.width {
    width: 100%;
    height: auto;
}

.png-box img.height {
    height: 100%;
    width: auto;
}

.upload-png .img-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0 0 4px #5b8ed2;
    overflow: hidden;
}

.upload-png .img-wrap img {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.upload-png .img-wrap img.width {
    width: 100%;
    height: auto;
}

.upload-png .img-wrap img.height {
    height: 100%;
    width: auto;
}

.img-tip.error {
    color: #f52424;
}

.func-btn {
    width: 430px;
    margin: 0 auto;
    text-align: center;
}

.func-btn .btn:hover {
    opacity: 0.8;
}

.publish {
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    border: 0;
    vertical-align: middle;
    margin-right: 20px;
}

.back {
    display: block;
    margin-left: -18px;
    margin-top: 11px;
    /* width: 100%; */
    /* height: 40px; */
    /* line-height: 40px; */
    /* text-align: center; */
    color: #363636;
    /* border: 1px solid #419ce9; */
    /* vertical-align: middle; */
}

.back:hover {
    color: #5b8ed2;
}

.upload-png .actived {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 30px solid #5b8ed2;
    border-right: 30px solid transparent;
    z-index: 20;
}

.up-input {
    position: absolute;
    width: 130px;
    height: 40px;
    top: 40px;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

/*快速招标5步走*/
.mod-publish .step5Box{
    position: relative;
    margin: 41px 0 50px 53px;
    background-size: 100% 100%;
    display: block;
    background: url(../images/main/step.png) no-repeat center center;
    width: 935px;
    height: 227px;
}
.mod-publish .step5BoxImg-zh{
    background: url(../images/main/step.png) no-repeat center center;
}
.mod-publish .step5BoxImg-en{
    background: url(../images/main/step-en.png) no-repeat center center;
}
.step5Box h3{
    position: absolute;
    top: -3px;
    left: 45%;
    font-size: 14px;
}

.step5Box ul{
    position: absolute;
    bottom: -4px;
    font-size: 14px;
}

.step5Box ul li{
    float: left;
    width: 89px;
    margin-right: 80px;
    text-align: center;
}

.step5Box ul li:last-child{
    margin-right: 0;
}

.step5Box ul li dl dt{
    margin-bottom: 28px;
}
.mod-publish .se-item p.detail-list-titie-en{
    width:170px;
}
.mod-publish .se-item-tender-en{
    width: 980px;
}
.mod-publish .se-item-tender-en .detail label{
    min-width: 160px;
}
.mod-publish .se-item-tender-en.fo-item .detail{
    margin-left: 60px;
}
.mod-publish .se-item-tender-en .detail li{
    margin-right: 30px;
}
.mod-publish .se-item-tender-en .detail .error{
    width:250px;
}
.coke_type{
    display: inline-block;
    margin-top:5px;
    padding:0px 10px;
    height:30px;
    line-height: 30px;
    margin-right:15px;
    border-radius: 20px;
    border:1px solid rgba(71, 186, 254, 1)
}
.coke_type:hover{
    cursor: pointer;
    color: #ffffff;
    background-color:rgba(71, 186, 254, 1);
}
.coke_type_back{
    color: #ffffff;
    background-color:rgba(71, 186, 254, 1);
}
.projectile{
    display: none;
}

.webuploader-pick{
    width: 135px;
    height: 35px;
    background: #5b8ed2;
    border-radius: unset;
    margin: 0 120px;
    line-height:35px;
    padding: 0;
}
